
h1 {
    text-align: center;
    font-size: 8vw;
}

header > nav > a > img {
  top: 2%;
}

div.outerMeter {
  margin: 0;
}

#hero-stats {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 0;
}

#hero-stats ul {
  float: left;
  margin: 0;
  }

#monster-stats {
  text-align: left;
  width: 50%;
  position:absolute;
  top: 10%;
  right: 0;
}

#monster-stats ul {
  float: right;
    margin: 0;
  }

#attack-actions ul {
  text-align: center;
}

#stats-header {
   height: 9vw;
   position: relative;
}

#combat-arena {
  position:relative;
  height: 22vw;
}

img {
  position: absolute;
  width: 20vw;
  top: 10%;
}

#hero-img {
  left: 20%;
}

#monster-img {
  right: 20%;
}

.test {
  color: black;
}