#hero-stats {
  width: 50%;
  float: left;
}

#monster-stats {
  text-align: left;
  width: 50%;
  float: left;
}

#monster-stats ul {float: right;}

ul {
  padding-left: 0;
  text-align: center;
}

#stats-header {

   height: 20vw;
   position: relative;
}

#hero-stats {

  position: absolute;
  top: 10%;
  left: 0;
}

#monster-stats {

  position:absolute;
  top: 10%;
  right: 0;
}

#combat-arena {

  position:relative;
  height: 30vw;
}

img {
  width: 25vw;
}

#hero-img {

  position: absolute;
  top: 20%;
  left: 10%;
}

#monster-img {

  position: absolute;
  top: 20%;
  right: 10%;
}

/* SHAKE EFFECT */

.shakeEffect {
  animation: shake .7s;
  animation-iteration-count: 1;
 }

 @keyframes shake {
  0% { transform: translate(2px, 2px) rotate(1deg); }
  10% { transform: translate(-2px, -3px) rotate(-3deg); }
  20% { transform: translate(-5px, 0px) rotate(3deg); }
  30% { transform: translate(5px, 3px) rotate(1deg); }
  40% { transform: translate(2px, -2px) rotate(3deg); }
  50% { transform: translate(-2px, 3px) rotate(-3deg); }
  60% { transform: translate(-5px, 2px) rotate(1deg); }
  70% { transform: translate(5px, 2px) rotate(-3deg); }
  80% { transform: translate(-2px, -2px) rotate(3deg); }
  90% { transform: translate(2px, 3px) rotate(1deg); }
  100% { transform: translate(2px, -3px) rotate(-3deg); }
}

.shake2Effect {
  animation: shake2 .8s;
  animation-iteration-count: 1;
 }

 @keyframes shake2 {

  0% { transform: translate(-5px, 2px) rotate(1deg); }
  15% { transform: translate(5px, 2px) rotate(-3deg); }
  25% { transform: translate(-2px, -2px) rotate(3deg); }
  35% { transform: translate(2px, 3px) rotate(1deg); }
  45% { transform: translate(2px, -3px) rotate(-3deg); }
  55% { transform: translate(2px, 2px) rotate(1deg); }
  65% { transform: translate(-2px, -3px) rotate(-3deg); }
  75% { transform: translate(-5px, 0px) rotate(3deg); }
  85% { transform: translate(5px, 3px) rotate(1deg); }
  95% { transform: translate(2px, -2px) rotate(3deg); }
  100% { transform: translate(-2px, 3px) rotate(-3deg); }

}