.outerMeter {
   
  background-color: darkgray;
  width: 175px;
  height: 15px;
  margin: 10px;

}

#heroHpMeter {
  height: 15px;
  width: 100px;
  background-color:#0559AD;

}

#mpMeter {
  height: 15px;
  width: 130px;
  background-color: #0559AD;
  
}

#monHpMeter{
  height: 15px;
  width: 100px;
  background-color: red;

}

#hero-stats {
  width: 50%;
  float: left;
}

#monster-stats {
  text-align: right;
  width: 50%;
  float: left;
}

#monster-stats ul {float: right;}

h1 {clear: both;}

ul {
  padding-left: 0;
  text-align: center;
}

li {
  display: inline;
}