p {
    text-align: center;
    margin: 5vh;
}

img {
    display: block;
    margin:auto;
    border-radius: 200px;
    border: 2px solid black;
}

input {
    display: inline;
    min-width: 25vw;
    min-height: 5vh;
    font-size: 1.5em;
}




label { float: left;
    width: 20vw;
    margin-right: 1vw;
    font-size: 2em;
}

main > section {

    margin: 5vh;
    padding: 4vh;
    align-content:center;
}