/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-size: 18px;
  text-align: center;
  background-color: #fefefe;
  margin: 8% auto; /* 8% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;

}

/* The Close Button */
.close {
  display: none; 
}


.modal-content button {
  color: #282D30;
  font-family: 'Bangers', cursive;
  background-color: #FFDD45; 
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px; 
}

.modal-content button:hover {
  color: #000000;
  background-color: #FFD100; 

}

.modal-content img {
  position: relative;
  height: 150px;
  width: auto;
}

.modal-content h2 {
  color: #aa1113;
  font-size: 50px;
}

.winner {
  animation: bounce .3s infinite alternate;
  -webkit-animation: bounce .3s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}