* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #282D30;
  font-family: 'Bangers', cursive;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 50px;
  color: #007A6E;
  
}

h2 {
  text-align: center;
  font-size: 30px;
}

strong {
  font-weight: 700;
}


body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  width: 95%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color:#282D30;;
}

ul {
  list-style: none;
  padding: 0;  
}

li {
    display: inline;
}

.outerMeter {
   margin: 2vw 0;
    background-color: darkgray;
    width: 350px;
    height: 35px;

}

#heroHpMeter {
    height: 35px;
    width: 250px;
    background-color: #0559AD;

}

#heroMpMeter {
    height: 35px;
    width: 250px;
    background-color: #0559AD;
    
}

#monHpMeter {
    height: 35px;
    width: 250px;
    background-color: red;

}

button, input[type=button] {
  color: #ffffff;
  font-family: 'Bangers', cursive;
  background-color: #AA1113; 
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px; 
}

button:hover {
  color: #FFD100;
  background-color: #991A1C; 

}